<button type="button" [routerLink]="['../']" class="btn btn-success">
    Atras</button>
    <div class="row">
        <label class="col-md-2">Ruta</label>
        <input readonly type="text" class="col-md-3 form-control inputfield" [(ngModel)]="this.dscruta"    >
      </div>
  
      <div class="row">
        <label class="col-md-2">Distribuidor</label>
        <input readonly type="text" class="col-md-3 form-control inputfield" [(ngModel)]="this.distribuidor">
      </div>

      <div class="row">
        <label class="col-md-2">Numero Entrega</label>
        <input readonly type="number" class="col-md-3 form-control inputfield" [(ngModel)]="this.numeroEntrega">
      </div>
<div id="map" class="map"></div>

