<div [hidden]="!this.show">



  <button type="button" [routerLink]="['../',{flagRefreshReturn:flagRefreshReturn}]" class="btn btn-success">
    Atras</button>


  <div class="card">
    <div class="card-header">
      RUTA DE DISTRIBUCION
    </div>
    <br>
    <form [formGroup]="rutaDistribucionForm">

      <div class="row">
        <label class="col-md-2" for="">Codigo</label>
        <div class="col-md-2">
          <input formControlName="idRutaDistribucion" type="text" class="form-control inputfield" readonly>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2">Periodo</label>
        <input type="number" class="col-md-3 form-control inputfield ml-3" formControlName="anno">
      </div>

      <div class="row">
        <label class="col-md-2">Nro Entrega</label>
        <input type="number" class="col-md-3 form-control inputfield ml-3" formControlName="numeroEntrega">
      </div>


      <div class="row">
        <label class="col-md-2" for="">Nombre Ruta</label>
        <div class="col-md-6">
          <input formControlName="dscRutaDistribucion" type="text" class="form-control inputfield">
        </div>
      </div>

      <div class="row" formGroupName='empleadoDistribuidor'>
        <label class="col-md-2" for="">Responsable</label>
        <div class="col-md-6">
          <input readonly formControlName="nombres" type="text" class="form-control inputfield">

        </div>
        <div class="col-md-2">
          <button (click)="ocultarLista()" type="button" class="btn btn-primary btn-sm">Buscar</button>
        </div>
      </div>

      <!-- Chofer -->
      <div class="row">
        <label class="col-form-label col-2" for="chofer">Chofer</label>
        <select formControlName="chofer" class="form-control col-4 inputselect" [compareWith]="compareFnChofer" style="margin-left: 15px;">
          <option value="">Seleccione</option>
          <option *ngFor="let item of this.chofersModel" [ngValue]="item">{{item.nombres}}</option>
        </select>
      </div>

      <!-- Vehiculo -->
      <div class="row">
        <label class="col-form-label col-2" for="vehiculo">Vehiculo</label>
        <select formControlName="vehiculo" class="form-control col-4 inputselect" [compareWith]="compareFnVehiculo" style="margin-left: 15px;">
          <option value="">Seleccione</option>
          <option *ngFor="let item of this.vehiculosModel" [ngValue]="item">{{item.numeroPlaca}}</option>
        </select>
      </div>

      <hr>
      <div class="row">

        <div class="col-md-4">
          <button [disabled]="!rutaDistribucionForm.valid" type="button" class="btn btn-sm btn-info" (click)="create()" *ngIf="this.rutaDistribucionModel.idRutaDistribucion==0 else elseBlock">
            <span class="fa fa-floppy-o"></span>&nbsp; Grabar</button>

          <ng-template #elseBlock>
            <button [disabled]="!rutaDistribucionForm.valid" type="button" class="btn btn-sm btn-info" (click)="update()">
              <span class="fa fa-floppy-o"></span>&nbsp; Actualizar</button>

          </ng-template>
        </div>

      </div>

    </form>


  </div>
</div>

<div [hidden]="this.show">
  <app-empleado-distribuidor-list [isBuscador]="true" [showPanelBuscarFlag]="true" (eventBack)="this.eventBack($event)"></app-empleado-distribuidor-list>
</div>