
* {
    font-size: 11px;
    line-height: 2;
  }

  
.card{
  padding: 0;
  margin-top: 8px;
  padding-left:10px;
  
}

.card*{
  padding-left:10px;
}

.form-control-sm{
  line-height: 22px;
  padding: 0px;
  margin: 0px;
  max-height: 22px;
  height: 22px;
}