<div class="container-fluit">

  <div class="tituloEdit">
    {{titulo}}
  </div>

  <form [formGroup]="dataForm">
    <div class="row">
      <label class="col-md-2">Periodo</label>
      <input type="number" class="col-md-3 form-control inputfield" formControlName="anno" [(ngModel)]="this.anno">
    </div>

    <div class="row">
      <label class="col-md-2">Nro Entrega</label>
      <input type="number" class="col-md-3 form-control inputfield" formControlName="numeroEntrega" [(ngModel)]="this.numeroEntrega">
    </div>

    <br>
    <div class="alert alert-info" role="alert">
      <strong>Atencion!</strong> Este proceso genera el archivo excel, por cada item, indicado
      <br/> la unidades segun presentacion para las entregas y generacion de guias.
    </div>
    <br>
    <button type="button" class="btn btn-outline-success" [disabled]="!dataForm.valid" (click)="generar()">Procesar</button>


  </form>


</div>