<div [hidden]="!this.show">
  <h3>
    {{titulo}}
  </h3>

  <div style="height: 70%;">
    <button type="button" class="btn btn-danger btn-circle" [routerLink]="['./edicion', {id:0}]" (click)="ocultarLista()">
      <i class="fa fa-plus"></i>
    </button>
    <button type="button" class="btn btn-info btn-circle" [routerLink]="['./print', {id:0}]">
      <i class="fa fa-print"></i>
    </button>
    <button type="button" class="btn btn-success btn-circle" (click)="showPanelBuscar()">
      <i class="fa fa-search"></i>
    </button>
    <br>
    <br>




    <div class="row">
      <label class="col-md-2">Periodo</label>
      <input type="number" class="col-md-3 form-control inputfield" [(ngModel)]="this.anno" (change)="sendConsulta()">
    </div>

    <div class="row">
      <label class="col-md-2">Nro Entrega</label>
      <input type="number" class="col-md-3 form-control inputfield" [(ngModel)]="this.numeroEntrega"  (change)="sendConsulta()">
    </div>

    <!-- tabla de datos -->

    <p-dataTable emptyMessage="No hay registros" [value]="montoContratadosModel" [filterDelay]=500 [lazy]="true" (onFilter)="filter($event)"
      selectionMode="single" [responsive]="true">

      <p-column field="idMontoContratado" header="Codigo" [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag">
      </p-column>

      <p-column field="entregaPorItem.itemEntrega.dscitem" header="Item" [style]="{'width':'130px'}" [filter]="showPanelBuscarFlag">
      </p-column>
      <p-column field="nivelEducacion.dscNivelEducacion" header="Nivel" [style]="{'width':'100px'}" [filter]="showPanelBuscarFlag">
      </p-column>
      <p-column field="horarioAlimentacion.dscHorarioAlimentacion" header="Tipo Alimentacion" [style]="{'width':'130px'}" [filter]="showPanelBuscarFlag">
      </p-column>
      <p-column field="precioUnitarioValor" header="P.Unt V.Venta" [style]="{'width':'70px'}" [filter]="showPanelBuscarFlag">
      </p-column>
      <p-column field="precioUnitarioIgv" header="P.Unt Igv" [style]="{'width':'70px'}" [filter]="showPanelBuscarFlag">
      </p-column>
      <p-column field="precioUnitarioVenta" header="P.Unt Venta" [style]="{'width':'70px'}" [filter]="showPanelBuscarFlag">
      </p-column>

      <p-column>
        <ng-template let-data="rowData" pTemplate type="body">
          <i [routerLink]="['edicion', {id:data.idRutaDistribucion}]" (click)="ocultarLista()" style="cursor: pointer;" class="fa fa-pencil fa-1x"
            aria-hidden="true" data-toggle="tooltip" title="Editar"></i>&nbsp;
          <i style="cursor: pointer;" class="fa fa-trash-o fa-1x" aria-hidden="true" data-toggle="tooltip" title="Eliminar" (click)="delete(data)"></i>
          &nbsp;&nbsp;

       
        </ng-template>
      </p-column>

    </p-dataTable>

  </div>

  <ad-pagination [rowsForPageCbo]="[10,20,30,40]" [model]="this.montoContratadosModel" [filterPage]=[this.filterPage] [controller]="'montoContratado'"
    [orden]="'idMontoContratado'" [_refreshPage]="this.refreshPage" (onPageChange)="this.refreshModel($event)">
  </ad-pagination>



<div class="container-fluit">
  <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
</div>