<div class="container">

    <div class="row" style="text-align:center">
      <br>
      <br>
      <div class="col-md-3" style="padding-bottom:30px;"></div>
  
      <div class="col-md-3" style="text-align:center">
        <div><img [routerLink]="['./lista']" width="50" height="50" src="assets\lista.png" alt="Lista de guias"></div>
        <div>Lista de guias</div>
        
        
  
      </div>
      <div class="col-md-3" style="text-align:center">
        <div><img [routerLink]="['./editar']" width="50" height="50" src="assets\print.png" alt="Impresion de guias"></div>
        <div>Impresion Guias</div>
      </div>
  
  
  
    </div>
  
  </div>
  
  <router-outlet></router-outlet>