<div [hidden]="!this.showLista">
  <h3>
    {{titulo}}
  </h3>

  <div style="height: 70%;">
    <button type="button" class="btn btn-danger btn-circle" [routerLink]="['./almacenedicion', {id:0}]">
      <i class="fa fa-plus"></i>
    </button>
    <button type="button" class="btn btn-info btn-circle" [routerLink]="['./productoedicion', {id:0}]">
      <i class="fa fa-print"></i>
    </button>
    <button type="button" class="btn btn-success btn-circle" (click)="showPanelBuscar()">
      <i class="fa fa-search"></i>
    </button>
    <!-- <a class="btn btn-default btn-sm" style="cursor: pointer;" (click)="showDialog()"><i class="fa fa-file-o fa-gl" style="cursor: pointer;" aria-hidden="true" ></i>&nbsp; Agregar Producto</a> -->
    <!-- <a class="btn btn-default btn-sm" style="cursor: pointer;" href=""><i class="fa fa-print fa-gl"  aria-hidden="true"></i>&nbsp; Imprimir Lista</a> -->
    <!-- <a class="btn btn-default btn-sm" style="cursor: pointer;" (click)="showPanelBuscar()"><i class="fa fa-search fa-gl" style="cursor: pointer;" aria-hidden="true"></i>&nbsp; Buscar</a> -->
    <br>
    <br>

    <p-dataTable emptyMessage=" " [value]="almacenIngresosModel" [filterDelay]=500 [lazy]="true" (onFilter)="filter($event)"
      selectionMode="single" [responsive]="true">

      <p-column field="fecha" #idcategoria header="Fecha" [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag"> > </p-column>
      <p-column field="nrodoc" #idcategoria header="Nro Ing." [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag"> > </p-column>
      <p-column field="almacen.dscalmacen" header="Almacen" [style]="{'width':'150px'}" [filter]="showPanelBuscarFlag"> ></p-column>
      <p-column field="proveedorcliente.razonsocial" header="Proveedor" [style]="{'width':'250px'}" [filter]="showPanelBuscarFlag">
      ></p-column>
      <p-column field="empleado.nomempleado" header="Empl.Recep" [style]="{'width':'250px'}" [filter]="showPanelBuscarFlag"> ></p-column>

      <p-column>
        <ng-template let-data="rowData" pTemplate type="body">
          <i [routerLink]="['edicion', {id:data.iding001}]" (click)="ocultarLista()" style="cursor: pointer;" class="fa fa-pencil fa-1x" aria-hidden="true"
            data-toggle="tooltip" title="Editar"></i>&nbsp;

          <i style="cursor: pointer;" class="fa fa-trash-o fa-1x" aria-hidden="true" data-toggle="tooltip" title="Eliminar"></i>

        </ng-template>
      </p-column>

    </p-dataTable>

  </div>

  <ad-pagination [rowsForPageCbo]="[10,20,30,40]" [model]="this.almacenIngresosModel" [filterPage]=[this.filterPage] [controller]="'ing001'"
    [orden]="'fecha'" [_refreshPage]="this.refreshPage" (onPageChange)="refreshModel($event)"></ad-pagination>

</div>


<div class="container-fluit">
  <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
</div>