<button type="button" [routerLink]="['../',{flagRefreshReturn:flagRefreshReturn}]" class="btn btn-success">
  Atras</button>

<div class="card">

  <div class="card-header">
    DATOS DEL PUNTO DE PARTIDA
  </div>

  <br>

  <form [formGroup]="puntoPartidaForm">

    <div class="row">
      <label class="col-md-2" for="">Codigo</label>
      <div class="col-md-2">
        <input formControlName="idPuntoPartida" [(ngModel)]="this.puntoPartidaModel.idPuntoPartida" type="text" class="form-control inputfield" readonly>
      </div>
    </div>

    <div class="row">
      <label class="col-md-2" for="">Direccion</label>
      <div class="col-md-6">
        <input formControlName="direccion" [(ngModel)]="this.puntoPartidaModel.direccion" type="text" class="form-control inputfield">
      </div>
    </div>


    <hr>
    <div class="row">

      <div class="col-md-4">
        <button [disabled]="!puntoPartidaForm.valid" type="button" class="btn btn-sm btn-info" (click)="create()" *ngIf="this.puntoPartidaModel.idPuntoPartida==0 else elseBlock">
          <span class="fa fa-floppy-o"></span>&nbsp; Grabar</button>

        <ng-template #elseBlock>
          <button [disabled]="!puntoPartidaForm.valid" type="button" class="btn btn-sm btn-info" (click)="update()" >
            <span class="fa fa-floppy-o"></span>&nbsp; Actualizar</button>

        </ng-template>
      </div>

    </div>
  </form>

</div>