<div [hidden]="!this.show">
  <h3>
    {{titulo}}
  </h3>
  <p-growl [value]="msgs"></p-growl>

  

  <div style="height: 70%;">
    <button type="button" class="btn btn-danger btn-circle" [routerLink]="['./edicion', {id:0}]" (click)="ocultarLista()">
      <i class="fa fa-plus"></i>
    </button>
    <button type="button" class="btn btn-info btn-circle" [routerLink]="['./productoedicion', {id:0}]">
      <i class="fa fa-print"></i>
    </button>
    <button type="button" class="btn btn-success btn-circle" (click)="showPanelBuscar()">
      <i class="fa fa-search"></i>
    </button>
   
    <br>
    <br>

    <p-dataTable emptyMessage=" " [value]="marcaArticulosModel" [filterDelay]=500 [lazy]="true" (onFilter)="filter($event)"
      selectionMode="single" [responsive]="true">

      <p-column field="idmarca" #idcategoria header="Codigo" [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag"> </p-column>
      
      <p-column field="dscmarca" header="Descripcion" [style]="{'width':'250px'}" [filter]="showPanelBuscarFlag"> </p-column>
    
      
      <p-column>
        <ng-template let-data="rowData" pTemplate type="body">
          <i [routerLink]="['edicion', {id:data.idmarca}]" (click)="ocultarLista()" style="cursor: pointer;" class="fa fa-pencil fa-1x" aria-hidden="true"
            data-toggle="tooltip" title="Editar"></i>&nbsp;

        
              <i style="cursor: pointer;" class="fa fa-trash-o fa-1x" aria-hidden="true" data-toggle="tooltip" title="Eliminar" (click)="delete(data)"></i>
          
          

        </ng-template>
      </p-column>

    </p-dataTable>

  </div>

  <ad-pagination [rowsForPageCbo]="[10,20,30,40]" [model]="this.marcaArticulosModel" [filterPage]=[this.filterPage] [controller]="'marca'"
    [orden]="'idmarca'" [_refreshPage]="this.refreshPage" (onPageChange)="this.refreshModel($event)"></ad-pagination>

</div>


<div class="container-fluit">
  <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
</div>

