<div [hidden]="!this.show">
  <h3 *ngIf="!isBuscador">
    {{titulo}}
  </h3>
  <h3 *ngIf="isBuscador">
    <button type="button" (click)="eventBackFill()" class="btn btn-success">
      Atras</button>
    <br> Buscador Centros Educativos
  </h3>

  <div style="height: 70%;">
    <div *ngIf="!isBuscador">
      <button type="button" class="btn btn-danger btn-circle" [routerLink]="['./edicion', {id:0}]" (click)="ocultarLista()">
        <i class="fa fa-plus"></i>
      </button>
      <button type="button" class="btn btn-info btn-circle" [routerLink]="['./print', {id:0}]">
        <i class="fa fa-print"></i>
      </button>
      <button type="button" class="btn btn-success btn-circle" (click)="showPanelBuscar()">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <br>
    <br>


    <div *ngIf="showPeriodoEntrega">
      <div class="row">
        <label class="col-md-2">Periodo</label>
        <input type="number" class="col-md-3 form-control inputfield" [(ngModel)]="this.anno" (change)="sendConsulta()">
      </div>

      <div class="row">
        <label class="col-md-2">Nro Entrega</label>
        <input type="number" class="col-md-3 form-control inputfield" [(ngModel)]="this.numeroEntrega" (change)="sendConsulta()">
       
      </div>
    </div>

    <!-- tabla de datos -->

    <div class="row">
        <label class="col-md-2">Buscador de Codigos Modulares</label>
        <input type="text" class="col-md-6 form-control inputfield" [(ngModel)]="this.filtroCodigoModular">
        <div class="col-md-2">
            <i style="cursor: pointer;" class="fa fa-search fa-2x" aria-hidden="true" data-toggle="tooltip" title="Filtrar" (click)="sendConsulta()"></i>&nbsp;
          </div>
    </div>
    <p-dataTable emptyMessage="No hay registros" [value]="this.requerimientoVolumen001sModel" [filterDelay]=500 [lazy]="true"
      (onFilter)="filter($event)" [loading]="loading" loadingIcon="fa-spinner" selectionMode={{this.selectionModeDataTable}}
      [responsive]="true" dataKey="codigomodularIinstitucionEducativa.codigoModular" [(selection)]="requerimientoVolumen001SeleccionadosModel"
      (onRowSelect)="handleRowSelect($event)" (onRowUnselect)="handleRowUnSelect($event)" (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)">


      <p-column *ngIf="showCheck" [style]="{'width':'38px'}" selectionMode={{this.selectionMode}}></p-column>
      <p-column field="ubigeo.nombreProvincia" header="Provincia" [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag"></p-column>
      <p-column field="ubigeo.nombreDistrito" header="Distrito" [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag"></p-column>
      <p-column field="centroPoblado" header="Centro Poblado" [style]="{'width':'150px'}" [filter]="showPanelBuscarFlag"></p-column>

      <p-column *ngIf="showPeriodoEntrega" field="entregaPorItem.itemEntrega.dscitem" header="Item" [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag"></p-column>

      <p-column *ngIf="showPeriodoEntrega" field="entregaPorItem.numeroEntrega.numeroEntregaValor" header="Nro Entrega" [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag"></p-column>

      <p-column  field="codigomodularIinstitucionEducativa.codigoModular" header="Cod.Modular" [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag">
      </p-column>
      <p-column field="codigomodularIinstitucionEducativa.nombreInstitucionEducativa" header="IE" [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag">
      </p-column>
      <p-column field="codigomodularIinstitucionEducativa.direccionInstitucionEducativa" header="Direccion IE" [style]="{'width':'190px'}"
        [filter]="showPanelBuscarFlag"> </p-column>
      <p-column *ngIf="!showCheck">
        <ng-template let-data="rowData" pTemplate type="body">
          <i *ngIf="!isBuscador" [routerLink]="['edicion', {id:data.idVehiculo}]" (click)="ocultarLista()" style="cursor: pointer;"
            class="fa fa-pencil fa-1x" aria-hidden="true" data-toggle="tooltip" title="Editar"></i>&nbsp;
          <i *ngIf="!isBuscador" style="cursor: pointer;" class="fa fa-trash-o fa-1x" aria-hidden="true" data-toggle="tooltip" title="Eliminar"
            (click)="delete(data)"></i>
          &nbsp;&nbsp;
          <button *ngIf="isBuscador" type="button" class="btn btn-primary btn-sm" (click)="eventBackFill(data)">Seleccionar</button>
        </ng-template>
      </p-column>

    </p-dataTable>

  </div>

  <ad-pagination [rowsForPageCbo]="[10,20,30,40,100,300,500]" [model]="this.requerimientoVolumen001sModel" [filterPage]=[this.filterPage]
    [controller]="'requerimientoVolumen001'" [orden]="'idRequerimientoVolumen001'" [_refreshPage]="this.refreshPage" (onPageChange)="this.refreshModel($event)"></ad-pagination>


</div>


<div class="container-fluit">
  <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
</div>