<h3>
  {{titulo}}
</h3>

<p-growl [value]="this.msgPopup" [life]=1500></p-growl>

<div style="height: 70%;">
  <button type="button" class="btn btn-danger btn-circle" [routerLink]="['./productoedicion', {id:0}]"><i class="fa fa-plus"></i></button>
  <button type="button" class="btn btn-info btn-circle" [routerLink]="['./productoedicion', {id:0}]"><i class="fa fa-print"></i></button>
  <button type="button" class="btn btn-success btn-circle" (click)="showPanelBuscar()"><i class="fa fa-search"></i></button>

  <br><br>

  <p-dataTable emptyMessage=" " [value]="motivoSalidasModel" [filterDelay]=500 [lazy]="true" (onFilter)="filter($event)" selectionMode="single"
    scrollHeight="70%" [style]="{'height':'80%'}">

    <p-column field="idmotivosalida" #idmotivoingreso header="CODIGO" [style]="{'width':'90px'}" [filter]="showPanelBuscarFlag">
    > </p-column>

    <p-column field="dscmotivosalida" header="MOTIVO SALIDA" [style]="{'width':'350px'}" [filter]="showPanelBuscarFlag"> ></p-column>



    <p-column>
      <ng-template let-data="rowData" pTemplate type="body">
        <i [routerLink]="['proveedorclienteedicion', {id:data.idproveedorcliente}]" style="cursor: pointer;" class="fa fa-pencil fa-1x"
          aria-hidden="true" data-toggle="tooltip" title="Editar"></i>&nbsp;

        <i style="cursor: pointer;" class="fa fa-trash-o fa-1x" aria-hidden="true" data-toggle="tooltip" title="Eliminar"></i>



      </ng-template>
    </p-column>


  </p-dataTable>

</div>

<ad-pagination [rowsForPageCbo]="[10,20,30,40]" [model]="this.motivoSalidasModel" [filterPage]=[this.filterPage] [controller]="'motivosalida'"
  [orden]="'idmotivosalida'" [_refreshPage]="this.refreshPage" (onPageChange)="refreshModel($event)"></ad-pagination>